/* Este es un selectore de etiqueta */

body{
    background-image: url("../img/papel-pintado-pared.jpg");
    font-family: sans-serif;

}

h1 {
    color: rgb(146, 253, 178);
    text-align: center;
}